Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
gunicorn
psycopg2
python-dotenv
requests
nltk
scikit-learn
joblib
Pillow
openai
python-jose
PyJWT
transformers
torch
python-magic
Flask-Babel
Flask-Moment
Flask-Migrate
Flask-Mail
WeasyPrint
numpy
pandas
tensorflow-cpu
email-validator
